<div class = "comment">
  <div class="row">
    <div class="col-xs-1 image">
      <img src="<%= asset_path( 'astronaut-headshot.png' ) %>">
    </div>
    <div class="col-xs-2 username">
      <h4><%= comment.user.username %></h4>
    </div>
    <div class="col-xs-9 content">
      <p><%= comment.content %></p>
    </div>
  </div>
</div>
