<% unless comment.user.nil? %>
  <div class = "comment">
    <div class="row">
      <div class="col-xs-1 image">
        <img src="<%= asset_path(comment.user.headshot) %>">
      </div>
      <div class="col-xs-4 username">
        <h4><%= link_to comment.user.username, comment.user %></h4>
      </div>
      <div class="col-xs-7 content">
        <p><%= comment.content %></p>
      </div>
    </div>
  </div>
<% end %>
