<div class="user">
  <div class="row">
    <div class="col-xs-2 image"><img src="<%= asset_path( 'astronaut-headshot.png' ) %>"></div>
    <div class="col-xs-2"><h3 class="username"><%= user.name %></h3></div>
    <div class="col-xs-8">
    <%= view_if_astronaut(user) %>
    </div>
  </div>
</div>
