<div class="user">
  <div class="row">
    <div class="col-xs-2 image"><img src="<%= asset_path( 'astronaut-headshot.png' ) %>"></div>
    <div class="col-xs-10 username"><h3><%= user.name %></h3></div>
  </div>
</div>
