<%= render @user %>
<div class="follow">
  <%= link_to follows_path(astronaut_id: @user.id, user_id: current_user.id), method: :post do %>
  <div class="btn btn-info btn-lg follow-button">+ follow</div>
  <% end %>
</div>
<%= render @user.posts %>
