<div class="post-author">
  <div class="row">
    <div class="col-xs-2 image"><img src="<%= asset_path( 'astronaut-headshot.png' ) %>"></div>
    <div class="col-xs-6 username"><h3><%= link_to post.astronaut.name, post.astronaut %></h3></div>
    <div class="col-xs-4 timestamp">
      <%= format_stardate_and_space_tag(post) %>
    </div>
  </div>
</div>
