/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts";
@import "comments";
@import "home";
@import "users";

.navbar {
  background-color: white;
  border:0px;
  margin-bottom:50px;
  margin-top:10px;
}

.auth-state {
  margin-left: 42px;
  margin-top: 25px;
  padding:10px;
  width:600px;
  height:40px;
  background-color: black;
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
}

body {
  font-family: 'Exo', sans-serif;
  a {
    color: #1DDDE3;
  }
}

.site-title {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 100px;
    font-weight: 600;
    color: white;
    text-shadow: 0px 2px 12px black;
    -webkit-text-stroke: 1px #222222;
}
