// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  min-height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

img {
  width: 560px;
}

.post {
  width:600px;
  border: 1px solid #999999;
  border-radius:20px;
  box-shadow: 3px 3px 2px black;
  padding:20px;
  margin:40px;
  background-color: #fdfdfd;
  .post-body {
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    padding:20px;
    box-shadow: 1px 1px 1px #e0e0e0;
    background-color: white;
  }
  .media {
    margin-bottom:15px;
  }
}

.post-author {
  margin-bottom:5px;
  .image img {
    text-align:left;
    max-height: 70px;
    max-width: 70px;
    box-shadow: 1px 1px 2px black;
    border-radius: 50%;
  }
  .username {
  }
  .timestamp {
    color: #444444;
    text-align:right;
    margin-top:5px;
    margin-bottom:20px;
  }
}


.space-tag {
  margin-top: -5px;
  font-size: 95%;
}
.space-tag-strong {
  font-weight:600;
  display:inline;
}
.space-tag-coords {
  display:inline;
  font-size:80%;
}

.new-post {
  width:600px;
  border: 1px solid #999999;
  border-radius:20px;
  box-shadow: 3px 3px 2px black;
  padding:20px;
  margin:40px;
  background-color: #fdfdfd;

  .media-preview {
    padding-top: 20px;
  }
  .small-input {
    float:left;
  }
}

.lower {
  margin-top: 15px;
}

.tooltip {
    white-space: pre-line;
    line-height: 10px;
}

