<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
        <div class="site-title">Astrogram</div>
      </a>
    </div>
  </div>
</nav>
<div class="auth-state">
  <div class="col-xs-8">
    <%= navbar_logged_in %>
  </div>
  <div class="col-xs-4">
    <%= people_links %>
  </div>
</div>
