<!-- <div id="navbar">
<a href="/"><%= image_tag "logo_medium.png" %></a>
<div class="site-title">Astrogram</div>
<%= navbar_logged_in %>
</div> -->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="site-title">Astrogram</div>
      </a>
    </div>
  </div>
</nav>
<%= navbar_logged_in %>
