<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <div class="site-title">Astrogram</div>
      </a>
    </div>
  </div>
</nav>
<div class="auth-state"><%= navbar_logged_in %></div>
